<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>AngularJS | Retour d'expérience sur le plus populaire des frameworks web | Rémi Alvergnat @Toilal</title>

    <meta name="description" content="Retour d'expérience sur le plus populaire des frameworks web" />
    <meta name="author" content="Rémi Alvergnat" />

    <link href="css/font-custom.css" rel="stylesheet" />
    <!-- http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic -->


    <!--

        Impress.js doesn't depend on any external stylesheets. It adds all of the styles it needs for the
        presentation to work.

        This style below contains styles only for demo presentation. Browse it to see how impress.js
        classes are used to style presentation steps, or how to apply fallback styles, but I don't want
        you to use them directly in your presentation.

        Be creative, build your own. We don't really want all impress.js presentations to look the same,
        do we?

        When creating your own presentation get rid of this file. Start from scratch, it's fun!

    -->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link href="css/impress.css" rel="stylesheet" />
    <link href="css/impress-progress.css" rel="stylesheet" />
    <link href="css/impress-custom.css" rel="stylesheet" />
    <link href="css/highlight/idea.css" rel="stylesheet">
    <script src="js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link href="css/angular-tooltips.css" rel="stylesheet">
    <link href="examples/app.css" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>

<!--

    Body element is used by impress.js to set some useful class names, that will allow you to detect
    the support and state of the presentation in CSS or other scripts.

    First very useful class name is `impress-not-supported`. This class means, that browser doesn't
    support features required by impress.js, so you should apply some fallback styles in your CSS.
    It's not necessary to add it manually on this element. If the script detects that browser is not
    good enough it will add this class, but keeping it in HTML means that users without JavaScript
    will also get fallback styles.

    When impress.js script detects that browser supports all required features, this class name will
    be removed.

    The class name on body element also depends on currently active presentation step. More details about
    it can be found later, when `hint` element is being described.

-->
<body class="impress-not-supported" ng-app="Examples">

<!--
    For example this fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div class="progressbar"><div></div></div>
<div class="progress"></div>

<!--

    Now that's the core element used by impress.js.

    That's the wrapper for your presentation steps. In this element all the impress.js magic happens.
    It doesn't have to be a `<div>`. Only `id` is important here as that's how the script find it.

    You probably won't need it now, but there are some configuration options that can be set on this element.

    To change the duration of the transition between slides use `data-transition-duration="2000"` giving it
    a number of ms. It defaults to 1000 (1s).

    You can also control the perspective with `data-perspective="500"` giving it a number of pixels.
    It defaults to 1000. You can set it to 0 if you don't want any 3D effects.
    If you are willing to change this value make sure you understand how CSS perspective works:
    https://developer.mozilla.org/en/CSS/perspective

    But as I said, you won't need it for now, so don't worry - there are some simple but interesting things
    right around the corner of this tag ;)

-->
<div id="impress">

    <!--

        Here is where interesting thing start to happen.

        Each step of the presentation should be an element inside the `#impress` with a class name
        of `step`. These step elements are positioned, rotated and scaled by impress.js, and
        the 'camera' shows them on each step of the presentation.

        Positioning information is passed through data attributes.

        In the example below we only specify x and y position of the step element with `data-x="-1000"`
        and `data-y="-1500"` attributes. This means that **the center** of the element (yes, the center)
        will be positioned in point x = -1000px and y = -1500px of the presentation 'canvas'.

        It will not be rotated or scaled.

    -->
    <div id="title" class="step slide" data-x="0" data-y="-1600">
        <img class="title" src="img/AngularJS_logo.svg">
        <h2 class="subtitle vertical-center">Retour d'expérience sur le plus populaire des frameworks web</h2>

        <div class="footer">
            <ul>
                <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/Toilal">@Toilal</a></li>
                <li><i class="fa fa-github"></i> <a href="https://github.com/Toilal">Toilal</a></li>
                <li><i class="fa fa-linkedin"></i> <a href="https://fr.linkedin.com/in/remialvergnat">remi.alvergnat</a></li>
            </ul>
        </div>
    </div>

    <div id="jquery-html" class="step slide" data-x="-1000" data-y="-800">
        <h1 class="title">Avant, on avait JQuery</h1>
        <h2>Avec un peu de HTML ...</h2>
        <div class="lang">html</div>
        <pre><code class="html bigger">&lt;header id=&quot;header&quot;&gt;
  &lt;h1&gt;todos&lt;/h1&gt;
  &lt;input id=&quot;new-todo&quot;
         placeholder=&quot;What needs to be done?&quot;
         autofocus&gt;
&lt;/header&gt;
&lt;section id=&quot;main&quot;&gt;
  &lt;input id=&quot;toggle-all&quot; type=&quot;checkbox&quot;&gt;
  &lt;label for=&quot;toggle-all&quot;&gt;
    Mark all as complete
  &lt;/label&gt;
  &lt;ul id=&quot;todo-list&quot;&gt;&lt;/ul&gt;
&lt;/section&gt;</code></pre>
    </div>

    <div id="jquery-js" class="step slide" data-x="0" data-y="-800">
        <h1 class="title">Avant, on avait JQuery</h1>
        <h2>... et beaucoup de JavaScript ...</h2>
        <div class="lang">javascript</div>
        <pre><code class="js small">this.todos = [];
bindEvents: function () {
    $('#new-todo').on('keyup', this.create.bind(this));
},
create: function (e) {
    var $input = $(e.target);
    var val = $input.val().trim();

    if (e.which !== ENTER_KEY || !val) {
        return;
    }

    this.todos.push({
        id: util.uuid(),
        title: val,
        completed: false
    });

    this.render();
},
render: function () {
    $('#todo-list').html(this.todoTemplate(this.todos));
}</code></pre>
    </div>

    <div id="jquery-ca-marchait" class="step slide" data-x="1000" data-y="-800">
        <h1 class="title">Avant, on avait JQuery</h1>
        <h2>Ça marchait très bien !</h2>
        <iframe src="http://todomvc.com/examples/jquery"></iframe>
    </div>

    <div id="mais-jquery" class="step slide" data-x="0" data-y="0">
        <h1 class="title">Mais JQuery ...</h1>
        <ul>
            <li>N'aide pas à structurer le code</li>
            <li>Ne fait que de la manipulation DOM et de l'AJAX</li>
            <li>Provoque souvent du spaghetti code !</li>
        </ul>
        <img class="border align-center" src="img/spaghetti-integration-620x360.jpg">
    </div>

    <div id="angularjs-framework" class="step slide" data-x="0" data-y="800">
        <h1 class="title">AngularJS, c'est l'anti JQuery</h1>
        <h2>Framework complet</h2>
        <ul>
            <li>Ne dépends pas de JQuery.</li>
            <li>Permet d'enrichir HTML (directives)</li>
            <li>Conçu pour consommer une API REST</li>
            <li>Intègre une gestion de modules</li>
            <li>Sépare les responsabilités (MVC)</li>
            <li>Utilise l'injection de dépendance</li>
            <li>Est facilement testable</li>
        </ul>
    </div>

    <div id="angularjs-html" class="step slide" data-x="-1000" data-y="1600">
        <h1 class="title">Du HTML sous stéroïdes !</h1>
        <div class="lang">html</div>
        <pre><code class="html">&lt;header id=&quot;header&quot;&gt;
    &lt;h1&gt;todos&lt;/h1&gt;
    &lt;form id=&quot;todo-form&quot; ng-submit=&quot;addTodo()&quot;&gt;
        &lt;input id=&quot;new-todo&quot; placeholder=&quot;What needs to be done?&quot; ng-model=&quot;newTodo&quot; ng-disabled=&quot;saving&quot; autofocus&gt;
    &lt;/form&gt;
&lt;/header&gt;
    &lt;section id=&quot;main&quot; ng-show=&quot;todos.length&quot; ng-cloak&gt;
        &lt;input id=&quot;toggle-all&quot; type=&quot;checkbox&quot; ng-model=&quot;allChecked&quot; ng-click=&quot;markAll(allChecked)&quot;&gt;
        &lt;label for=&quot;toggle-all&quot;&gt;Mark all as complete&lt;/label&gt;
        &lt;ul id=&quot;todo-list&quot;&gt;
            &lt;li ng-repeat=&quot;todo in todos | filter:statusFilter track by $index&quot; ng-class=&quot;{completed: todo.completed, editing: todo == editedTodo}&quot;&gt;
                &lt;div class=&quot;view&quot;&gt;
                    &lt;input class=&quot;toggle&quot; type=&quot;checkbox&quot; ng-model=&quot;todo.completed&quot; ng-change=&quot;toggleCompleted(todo)&quot;&gt;
                    &lt;label ng-dblclick=&quot;editTodo(todo)&quot;&gt;{{todo.title}}&lt;/label&gt;
                    &lt;button class=&quot;destroy&quot; ng-click=&quot;removeTodo(todo)&quot;&gt;&lt;/button&gt;
                &lt;/div&gt;
                &lt;form ng-submit=&quot;saveEdits(todo, 'submit')&quot;&gt;
                    &lt;input class=&quot;edit&quot; ng-trim=&quot;false&quot; ng-model=&quot;todo.title&quot; todo-escape=&quot;revertEdits(todo)&quot; ng-blur=&quot;saveEdits(todo, 'blur')&quot; todo-focus=&quot;todo == editedTodo&quot;&gt;
                &lt;/form&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/section&gt;</code></pre>
    </div>

    <div id="angularjs-binding" class="step slide" data-x="0" data-y="1600">
        <h1 class="title">Le binding</h1>
        <h2>Synchronise automatiquement la vue et le modèle</h2>
        <div class="lang">html</div>
        <pre><code ng-non-bindable class="html bigger">&lt;input ng-model=&quot;value&quot;&gt;
&lt;span class=&quot;small&quot;&gt;{{value}}&lt;/span&gt;</code></pre>

        <div class="lang">demo</div>
        <input ng-model="value">
        <span class="small">{{value}}</span>

    </div>

    <div id="angularjs-controller" class="step slide" data-x="1000" data-y="1600" ng-controller="ResetCtrl as ctrl">
        <h1 class="title">Les controllers</h1>
        <h2>Le controller contient les données du modèle et publie les fonctions utiles pour la vue.</h2>
        <div class="lang">html</div>
        <pre><code ng-non-bindable class="html">&lt;div ng-controller=&quot;ResetCtrl as ctrl&quot;&gt;
    &lt;input ng-model=&quot;value&quot;&gt;
    &lt;button ng-click=&quot;ctrl.reset()&quot;&gt;Reset&lt;/button&gt;
    &lt;span class=&quot;small&quot;&gt;{{ctrl.value}}&lt;/span&gt;
&lt;/div&gt;</code></pre>
        <div class="lang">javascript</div>
        <pre><code class="js">.controller('ResetCtrl', function() {
    this.value = 'lorem ipsum'; // Mise à jour automatiquement par binding

    this.reset = function() {
        this.value = '';
    }
});</code></pre>

        <div class="lang">demo</div>
        <input ng-model="ctrl.value">
        <button ng-click="ctrl.reset()">Reset</button>
        <span class="small">{{ctrl.value}}</span>

    </div>

    <div id="angularjs-directive" class="step slide" data-x="-1000" data-y="2400" ng-controller="ResetDirectiveCtrl as ctrl">
        <h1 class="title">Les directives</h1>
        <h2>Elles encapsulent un modèle, un controlleur, et une vue (template).</h2>
        <div class="lang">javascript (directive)</div>
        <pre><code class="js">.directive('resetInput', function() {
    // Corresponds à l'&eacute;l&eacute;ment &lt;reset-input&gt;&lt;/reset-input&gt;
    return {
        restrict: 'E', // tag uniquement
        scope: { // => modèle
            label: '@', // attribut
            value: '=', // expression
            resetValue: '=?' // expression (optionel)
        },
        templateUrl: 'examples/reset.html', // => vue
        controller: 'ResetDirectiveCtrl', // => controller
        controllerAs: 'ctrl' // Nom du controleur au sein du template
    };
});</code></pre>
    <div class="lang">examples/reset.html (template)</div>
    <pre><code class="html">&lt;input ng-model=&quot;ctrl.value&quot;&gt;
&lt;button ng-click=&quot;ctrl.reset()&quot;&gt;{{label}}&lt;/button&gt;
&lt;span class="small"&gt;{{ctrl.value}}&lt;/span&gt;
&lt;!-- ngClick et ngModel sont des directives fournies par AngularJS --&gt;</code></pre>
    </div>

    <div id="angularjs-directive-2" class="step slide" data-x="0" data-y="2400">
        <h1 class="title">Les directives</h1>
        <div class="lang">javascript (controller)</div>
        <pre><code class="js small">.controller('ResetDirectiveCtrl', function($scope) {
    // $scope est obtenu par injection de dépendance
    if (!$scope.value) {
        $scope.value = 'lorem ipsum';
    }

    if (!$scope.resetValue) {
        $scope.resetValue = '';
    }

    this.value = $scope.value;

    this.reset = function() {
        this.value = $scope.resetValue;
    }
})</code></pre>
        <div class="lang">index.html</div>
        <pre><code ng-non-bindable class="html small">&lt;reset-input label=&quot;Click Me!&quot;
             value=&quot;'C\'est paramétrable'&quot;
             reset-value=&quot;'Une autre valeur'&quot;&gt;
&lt;/reset-input&gt;</code></pre>


        <div class="lang">demo</div>
        <reset-input label="Click Me!" value="'C\'est paramétrable'" reset-value="'Une autre valeur'"></reset-input>

    </div>

    <div id="angularjs-directive-3" class="step slide" data-x="1000" data-y="2400">
        <h1 class="title">Les directives</h1>
        <h2>Il existe de nombreuses directives intégrées à AngularJS</h2>

        <div class="lang smaller">html</div>
        <pre><code ng-non-bindable class="html smaller">&lt;div ng-controller=&quot;AngularDirectivesCtrl as ctrl&quot;&gt;
    &lt;div class=&quot;reset-input-container&quot;
         <span class="highlight">ng-repeat</span>=&quot;component in ctrl.components&quot;&gt;
         <span class="highlight">ng-class</span>=&quot;{'component-selected': component == ctrl.selectedComponent, 'hidden': component.hidden}&quot;
         <span class="highlight">ng-click</span>=&quot;ctrl.handleClick(component)&quot;
         &lt;reset-input label=&quot;{{component.label}}&quot;
                      value=&quot;component.value&quot;
                      <span class="highlight">ng-hide</span>=&quot;component.hidden&quot;&gt;
         &lt;/reset-input&gt;
         &lt;span class="big" <span class="highlight">ng-show</span>=&quot;component.hidden&quot;&gt;Composant {{component.label}} masqu&eacute;&lt;/span&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <div class="lang">javascript</div>
    <pre><code class="js smaller">.controller('AngularDirectivesCtrl', function() {
    this.components = [
        {label: '#1', value: 'Premier', resetValue: 'Le numero 1'},
        {label: '#2', value: 'Deuxième', resetValue: 'Le numero 2'},
        {label: '#3', value: 'Troisième', resetValue: 'Le numero 3', hidden: true},
        {label: '#4', value: 'Quatrième', resetValue: 'Le numero 4'}
    ];

    this.handleClick = function(component) {
        // On sélectionne le composant s'il n'est pas déja selectionné, sinon le le déselectionne.
        this.selectedComponent = component != this.selectedComponent ? component : null;
    }
});</code></pre>
    </div>

    <div id="angularjs-directive-4" class="step slide" data-x="2000" data-y="2400" ng-controller="AngularDirectivesCtrl as ctrl">
        <h1 class="title">Les directives</h1>

        <div class="lang smaller">css</div>
        <pre><code ng-non-bindable class="css smaller">.component-selected {
    border: solid 3px #6388cd;
}

.component-selected.hidden {
    border-color: #cccccc;
}</code></pre>

        <div class="lang smaller">demo</div>
        <div class="reset-input-container"
             ng-repeat="component in ctrl.components"
             ng-class="{'component-selected': component == ctrl.selectedComponent, 'hidden': component.hidden}"
             ng-click="ctrl.handleClick(component)">
            <reset-input label="{{component.label}}"
                         value="component.value"
                         ng-hide="component.hidden">
            </reset-input>
            <span class="big" ng-show="component.hidden">Composant {{component.label}} masqué</span>
        </div>
    </div>

    <div id="services-factories-providers" class="step slide" data-x="-2000" data-y="3200">
        <h1 class="title">Services, Factories et Providers</h1>
        <h2>Composants utilisables via l'injection de dépendance</h2>

        <ul>
            <li>Ces concepts permettent de palier à l'absence de classes en JavaScript</li>
            <li>Equivalent Spring/Jersey en Java</li>
            <li>Structure fortemment le code en séparant les responsabilités</li>
            <li>Permet le remplacement des implémentations par des mocks pour les tests (angular-mocks)</li>
        </ul>

    </div>

    <div id="services-factories-providers-2" class="step slide" data-x="-1000" data-y="3200">
        <h1 class="title">Exemple: Github Repos</h1>

        <github-repos></github-repos>

    </div>

    <div id="services-factories-providers-3" class="step slide" data-x="0" data-y="3200">
        <h1 class="title">Exemple: Github Repos</h1>

        <div class="lang smaller">javascript (service)</div>
        <pre><code class="js smaller">.service('GithubApiService', function($http) {
    // $http est un service angularJS qui permet de réaliser des requetes HTTP.
    var base = "https://api.github.com/";

    var access_token = "1ab41bc0cf53c79f3240e07bfe1269705e013246";
    var headers = {
        'Accept': 'application/vnd.github.v3+json',
        'Authorization': 'token ' + access_token
    };

    this.user = function() {
        return $http({
            method: 'GET',
            headers: headers,
            url: base + 'user'
        })
    };

    this.userRepos = function(params) {
        return $http({
            method: 'GET',
            headers: headers,
            url: base + 'user/repos',
            params: params
        })
    };

    this.loadLink = function(url, params) {
        return $http({
            method: 'GET',
            headers: headers,
            url: url,
            params: params
        })
    }
})</code></pre>
    </div>

    <div id="services-factories-providers-4" class="step slide" data-x="1000" data-y="3200">
        <h1 class="title">Exemple: Github Repos</h1>

        <div class="lang smaller">javascript (controller)</div>
        <pre><code class="js smaller">.controller('GithubReposCtrl', function($scope, $q, GithubApiService) {
    // On récupère le service GithubApiService par injection de dépendance.
    var self = this;

    this.refreshing = false;

    this.refresh = function() {
        self.refreshing = true;

        var p1 = GithubApiService.user().then(function(response) {
            self.user = response.data;
            rateUpdater(response); // Rafraichir les compteurs
        }).catch(errorHandler);

        var p2 = GithubApiService.userRepos($scope.reposParams).then(function(response) {
            self.repos = response.data;
            loadNextRepos(response); // Charger l'ensemble des pages
            rateUpdater(response); // Rafraichir les compteurs
        }).catch(errorHandler);

        return $q.all([p1, p2]).finally(function() {
            self.refreshing = false;
        });
    };

    this.refresh(); // On rafraichit à l'initialisation du controlleur
})
</code></pre>

        <div class="lang smaller">javascript (directive)</div>
        <pre><code class="js smaller">.directive('githubRepos', function() {
return {
    scope: {
        reposParams: '=?'
    },
    templateUrl: 'examples/github-repos.html',
    controller: 'GithubReposCtrl',
    controllerAs: 'ctrl'
    };
})</code></pre>


    </div>

    <div id="services-factories-providers-5" class="step slide" data-x="2000" data-y="3200">
        <h1 class="title">Exemple: Github Repos</h1>

        <div class="lang smaller">github-repos.html (template)</div>
        <pre><code ng-non-bindable class="html smaller">&lt;div class=&quot;github-repos&quot;&gt;
    &lt;div class=&quot;github-title&quot;&gt;
        &lt;button class=&quot;bigger&quot; ng-click=&quot;ctrl.refresh()&quot; ng-disabled=&quot;ctrl.refreshing&quot;&gt;&lt;i class=&quot;fa fa-refresh&quot;&gt;&lt;/i&gt;&lt;/button&gt;
        &lt;span ng-if=&quot;ctrl.user&quot;&gt;{{ctrl.user.name}} (&lt;a href=&quot;{{ctrl.user.html_url}}&quot; target=&quot;_blank&quot;&gt;{{ctrl.user.login}}&lt;/a&gt;)
        &lt;/span&gt;
        &lt;span class=&quot;small&quot;&gt;Limite: {{ctrl.rate.limit}}&lt;/span&gt;
        &lt;span class=&quot;small&quot;&gt;Restant: {{ctrl.rate.remaining}}&lt;/span&gt;
        &lt;i class=&quot;bigger fa fa-spinner&quot; ng-if=&quot;ctrl.refreshing&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
    &lt;div class=&quot;github-table-container&quot;&gt;
        &lt;table class=&quot;github-table&quot;&gt;
            &lt;thead&gt;
                &lt;th class=&quot;name&quot;&gt;Name&lt;/th&gt;
                &lt;th class=&quot;stars&quot;&gt;Stars&lt;/th&gt;
                &lt;th class=&quot;forks&quot;&gt;Forks&lt;/th&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
                &lt;tr ng-repeat=&quot;repo in ctrl.repos | orderBy:'-stargazers_count' | filter:{fork:false}&quot;&gt;
                    &lt;td class=&quot;name&quot; tooltips tooltip-side=&quot;'left'&quot; tooltip-template=&quot;{{repo.description}}&quot;&gt;
                        &lt;a href=&quot;{{repo.html_url}}&quot; target=&quot;_blank&quot;&gt;{{repo.full_name}}&lt;/a&gt;
                    &lt;/td&gt;
                    &lt;td class=&quot;stars&quot;&gt;{{repo.stargazers_count}}&lt;/td&gt;
                    &lt;td class=&quot;forks&quot;&gt;{{repo.forks_count}}&lt;/td&gt;
                &lt;/tr&gt;
                &lt;/tbody&gt;
        &lt;/table&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>

        <div class="lang smaller">html</div>
        <pre><code class="html smaller">&lt;github-repos&gt;&lt;/github-repos&gt;</code></pre>

    </div>

    <div id="beaucoup-d-autres-choses" class="step slide" data-x="0" data-y="4000">
        <h1 class="title">Beaucoup d'autres choses</h1>

        <ul>
            <li>Modules pour organiser son code et charger des dépendances externes (bower, npm)</li>
            <li>Routeur pour assurer la navigation au sein de l'application</li>
            <li>Tests unitaires (karma, jasmine)</li>
            <li>Protractor = Tests IHM (Selenium)</li>
        </ul>
    </div>

    <div id="communaute" class="step slide" data-x="1000" data-y="4000">
        <h1 class="title">Et encore d'autres (merci Github)</h1>

        <ul>
            <li><a href="https://github.com/Swiip/generator-gulp-angular" target="_blank">generator-gulp-angular</a>: squelette Yeoman pour démarrer rapidement.</li>
            <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">ui-bootstrap</a>: Intégration des composants bootstrap</li>
            <li><a href="https://material.angularjs.org/latest/" target="_blank">angular-material</a>: Implémentation Material Design</li>
            <li><a href="https://github.com/sahat/satellizer" target="_blank">satellizer</a>: Authentification O-Auth en 5 minutes (Facebook, Twitter, Github, etc ...)</li>
            <li><a href="https://github.com/angular-translate/angular-translate" target="_blank">angular-translate</a>: Votre application en plusieurs langues</li>
        </ul>
    </div>

    <div id="angularjs-pas-parfait" class="step slide" data-x="-1000" data-y="4800">
        <h1 class="title">AngularJS n'est pas parfait</h1>

        <ul>
            <li>Le binding cause des problèmes de performance (Dirty Checking, Digest Loop)</li>
            <li>Il faut limiter la quantité de données reliées à la vue</li>
            <li>On doit parfois "éviter le framework".</li>
            <li>Ne supporte pas ES2015</li>
            <li>Pas de Virtual DOM</li>
            <li>Le routeur intégré, peu pratique, est souvent remplacé par un module tiers (UI Router)</li>
            <li>La migration vers Angular 2 n'est pas évidente</li>
        </ul>

        <p><a href="https://github.com/angular-gantt/angular-gantt/issues/597" target="_blank">Exemple d'un problème de performance avec Angular Gantt</a></p>
    </div>

    <div id="aurelia-js" class="step slide" data-x="0" data-y="4800">
        <h1 class="title">AureliaJS</h1>

        <ul>
            <li>Supporte les languages de demain (ES2015, ES2016, TypeScript)</li>
            <li>Zoning pour le dirty checking</li>
            <li>Architecture par module (Chaque fonctionnalité du framework est optionelle et remplaçable)</li>
            <li>Choix possible de l'implémentation du binding (Proxy)</li>
        </ul>

    </div>

    <div id="react-js" class="step slide" data-x="1000" data-y="4800">
        <h1 class="title">ReactJS</h1>

        <ul>
            <li>Du virtual DOM (optimise les changements sur le DOM)</li>
            <li>Très efficace pour construire des composants graphiques</li>
            <li>On met du HTML dans le JS (avec JSX)</li>
            <li>Librairie légère, mais moins complète</li>
        </ul>

    </div>

    <div id="angular-2" class="step slide" data-x="0" data-y="5600">
        <h1 class="title">Angular2</h1>

        <ul>
            <li>TypeScript (ou ES2015)</li>
            <li>Orienté Web Components</li>
            <li>Plus de dirty checking</li>
            <li>Exploite les streams observables <a href="http://reactivex.io/">RxJS</a> (Reactive Programming)</li>
            <li>Injection de dépendance digne d'un environnement backend</li>
            <li>Moins de concepts différents (mais plus puissant)</li>
            <li>Disponible en beta</li>
        </ul>

    </div>

    <div id="preparez-vous-changements" class="step slide" data-x="1000" data-y="5600">

        <h2>Préparez-vous aux changements* !</h2>

        <div class="lang smaller">javascript (service)</div>
        <pre><code class="js">import {Injectable} from "angular2/core"
import {Http} from 'angular2/http';
import 'rxjs/Rx'

@Injectable()
export class CountryService{
    endpoint_url:String = "https://restcountries.eu/rest/v1/region/";

    constructor(http: Http){
        this.http = http;
    }

    getCountriesByRegion (region:String){
        return this.http.get(this.endpoint_url + region).map(res => res.json());
    }
}</code></pre>

        <small>*AngularJS n'était que le début de grands changements pour le développement web. Il faut suivre ...</small>

    </div>

    <div id="overview" class="step" data-x="0" data-y="2300" data-scale="12">
    </div>

</div>

<!--

    Hint is not related to impress.js in any way.

    But it can show you how to use impress.js features in creative way.

    When the presentation step is shown (selected) its element gets the class of "active" and the body element
    gets the class based on active step id `impress-on-ID` (where ID is the step's id)... It may not be
    so clear because of all these "ids" in previous sentence, so for example when the first step (the one with
    the id of `bored`) is active, body element gets a class of `impress-on-bored`.

    This class is used by this hint below. Check CSS file to see how it's shown with delayed CSS animation when
    the first step of presentation is visible for a couple of seconds.

    ...

    And when it comes to this piece of JavaScript below ... kids, don't do this at home ;)
    It's just a quick and dirty workaround to get different hint text for touch devices.
    In a real world it should be at least placed in separate JS file ... and the touch content should be
    probably just hidden somewhere in HTML - not hard-coded in the script.

    Just sayin' ;)

-->
<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
    if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
    }
</script>

<!--

    Last, but not least.

    To make all described above really work, you need to include impress.js in the page.
    I strongly encourage to minify it first.

    In here I just include full source of the script to make it more readable.

    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document. Not only because it's a good practice, but also
    because it should be done when the whole document is ready.
    Of course you can wrap it in any kind of "DOM ready" event, but I was too lazy to do so ;)

-->
<script src="js/angular.js"></script>
<script src="js/angular-tooltips.js"></script>
<script src="examples/app.js"></script>

<script src="js/impress-progress.js"></script>
<script src="js/impress.js"></script>
<script>impress().init();</script>

<!--

    The `impress()` function also gives you access to the API that controls the presentation.

    Just store the result of the call:

        var api = impress();

    and you will get three functions you can call:

        `api.init()` - initializes the presentation,
        `api.next()` - moves to next step of the presentation,
        `api.prev()` - moves to previous step of the presentation,
        `api.goto( idx | id | element, [duration] )` - moves the presentation to the step given by its index number
                id or the DOM element; second parameter can be used to define duration of the transition in ms,
                but it's optional - if not provided default transition duration for the presentation will be used.

    You can also simply call `impress()` again to get the API, so `impress().next()` is also allowed.
    Don't worry, it wont initialize the presentation again.

    For some example uses of this API check the last part of the source of impress.js where the API
    is used in event handlers.

-->

</body>
</html>

<!--

    Now you know more or less everything you need to build your first impress.js presentation, but before
    you start...

    Oh, you've already cloned the code from GitHub?

    You have it open in text editor?

    Stop right there!

    That's not how you create awesome presentations. This is only a code. Implementation of the idea that
    first needs to grow in your mind.

    So if you want to build great presentation take a pencil and piece of paper. And turn off the computer.

    Sketch, draw and write. Brainstorm your ideas on a paper. Try to build a mind-map of what you'd like
    to present. It will get you closer and closer to the layout you'll build later with impress.js.

    Get back to the code only when you have your presentation ready on a paper. It doesn't make sense to do
    it earlier, because you'll only waste your time fighting with positioning of useless points.

    If you think I'm crazy, please put your hands on a book called "Presentation Zen". It's all about
    creating awesome and engaging presentations.

    Think about it. 'Cause impress.js may not help you, if you have nothing interesting to say.

-->

<!--

    Are you still reading this?

    For real?

    I'm impressed! Feel free to let me know that you got that far (I'm @bartaz on Twitter), 'cause I'd like
    to congratulate you personally :)

    But you don't have to do it now. Take my advice and take some time off. Make yourself a cup of coffee, tea,
    or anything you like to drink. And raise a glass for me ;)

    Cheers!

-->
